* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.App {
  width: 80%;
  margin: 40px auto 0 auto;
}

h1 {
  text-align: center;
}

.box-calling-form-btn {
  width: 50%;
  margin: 30px auto;
}

.box-calling-form-btn button {
  width: 100%;
}

form {
  margin: 30px 0 90px 0;
}

.box-input, .box-textarea {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
}

.box-input {
  margin: 0 auto;
}

.box-input label {
  cursor: pointer;
}

.box-textarea label {
  display: inline-block;
  margin-top: 15px;
  cursor: pointer;
}

.box-input input, .box-textarea textarea {
  width: 100%;
  padding: 10px 15px;
  font-size: 18px;
  border: 1px solid #29d2ca;
  border-radius: 7px;
  transition: 0.3s;
  resize: none;
}

.box-input input:focus, .box-textarea textarea:focus {
  box-shadow: 1px 1px 1px #000;
}

.select {
  margin: 0 0 30px 10%;
  border: 1px solid silver;
}

.input-search {
  min-width: 36%;
  min-height: 35px;
  float: right;
  margin-right: 10%;
  transform: translateY(-8px);
  padding-left: 12px;
  border: 1px solid silver;
  border-radius: 5px;
}

.line {
  width: 65%;
  height: 1px;
  margin: 0 auto 35px auto;
  background-color: #000;
}

.box-post {
  position: relative;
  width: 80%;
  min-height: 65px;
  margin: 20px auto 0 auto;
  padding: 10px 50px 10px 15px;
  border: 2px solid #157cd0;
  border-radius: 7px;
}

.box-post h3 {
  font-size: 22px;
  font-weight: bold;
}

.box-post p {
  margin-top: 5px;
  font-size: 17px;
  line-height: 109%;
  color: #595959;
}

.btn {
  width: 20px;
  height: 20px;
  color: red;
  border: 1px solid red;
  border-radius: 3px;
  transition: 0.5s;
}

.btn:hover {
  background-color: red;
  color: beige;
  border: 1px solid silver;
}

.box-post .btn {
  position: absolute;
  top: 10%;
  right: 8px;
}

.btn__add-post {
  padding: 10px;
  background-color: #16c4df;
  color: #471c1c;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #004a81;
  border-radius: 8px;
  transition: 0.4s;
}

.btn__add-post:hover {
  background-color: #16616d;
  color: #fff;
}

.box-btn__add-post {
  float: right;
  margin: 20px 10% 0 0;
}

.title-posts-none {
  text-align: center;
  font-size: 35px;
  font-weight: 900;
}

.closeModal {
  float: right;
  margin-right: 10px;
}

.closeModal button {
  width: 23px;
  height: 23px;
  padding: 1px 0px 1px 1px;
  background-color: #fff;
  font-size: 12px;
  color: red;
  border: 1px solid red;
  border-radius: 3px;
  transition: 0.5s;
}

.closeModal button:hover {
  background-color: red;
  color: beige;
  border: 1px solid silver;
}

/*
* HomPage AboutPage
*/

.box-hom-page,
.box-about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title-hom-page {
  font-size: 50px;
  color: #157cd0;
}

.title-about-page {
  font-size: 50px;
  color: #7715d0;
}

.text {
  width: 60%;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

.text-about-page {
  color: #1f1136;
}

.text-home-page {
  color: #193a54;
}

/*
* OnePost
*/

.one-post-gen-title {
  padding-top: 35px;
  font-size: 35px;
  color: #135e9f;
  text-align: center;
}

.box-one-post {
  width: 60%;
  margin: 20px auto;
}

.box-one-post p {
  margin-top: 10px;
}

.title-one-post-comments {
  font-size: 28px;
  text-align: center;
}

.box-one-post-comments {
  width: 60%;
  margin: 20px auto;
}

.box-one-post-comments h5 {
  font-size: 20px;
}

.box-one-post-comments p {
  margin-top: 8px;
}

.box-comments + .box-comments {
  margin-top: 15px;
}
 
/*
* TransitionGroup
*/

.postItem-enter {
  opacity: 0.5;
  transform: translateX(-20%)
}
.postItem-enter-active {
  transform: translateX(0);
  transition: 500ms ease-in;
}
.postItem-exit {
  opacity: 0.5;
}
.postItem-exit-active {
  transform: translateX(20%);
  transition:  500ms ease-in;
}

/*
* Router
*/

.navLink {
  display: block;
  padding: 4px 3px 4px 10px;
  color: #073a5e;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.4s;
}

.navLink:hover {
  background-color: #bea2ed;
  color: #f8f1ff;
  transform: scale(1.08);
}

.active {
  background-color: #5d1bc9;
  color: #fff;
}

.active:hover {
  background-color: #5d1bc9;
  color: #fff;
  transform: scale(1);
}